#venv
.venv/
__pycache__/

#folders
stanford-parser-4.2.0/
stanford-parser-full-2018-02-27/

#jar/zip
stanford-corenlp-4.2.0-models-english.jar
stanford-parser-4.2.0.zip
stanford-parser-full-2018-02-27.zip

#other cache file
audio.mp3

#dependency
models/
ffmpeg-4.4-full_build/
